* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	background-color: #efefef;
	padding: 0;
	margin: 0;
}

.navbar {
	align-items: center;
	background-color: #43281c;
	display: flex;
	justify-content: center;
	padding: 12px;
	font-size: 12px;
}

.brand-logo {
	display: block;
	margin: 5px;
	max-height: 40px;
}

.brand-name {
	color: #fbf2c0;
}

.menu-box,
.name-box,
.payment-box {
	background-color: #eee1d5;
	border-radius: 10px;
	margin: 12.5px auto;
	width: 100%;
	padding: 10px;
}
.menu-box {
	grid-area: items;
}

.name-box {
	grid-area: name;
}

.payment-box {
	grid-area: payment;
}

.box-grid {
	margin: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	column-gap: 30px;
	grid-template-areas:
		"items name"
		"items payment"
		"items payment";
}

.bill-total {
	margin: 0 auto;
	width: 200px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.order-button {
	display: table;
	margin: 25px auto;
	height: 50px;
	width: 90%;
	border-width: 0;
	border-radius: 100px;
	align-items: center;
	background-color: #deb993;
}
